<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copia MercadoLibre</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt=""></div>
        <input type="search" name="busqueda" placeholder="Busque Aquí">
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href=""> Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <br>
        <nav>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
            <ul type= "none">
                <li>$6.770</li>
                <li>40% off</li>
                <li><h5>Cafetera Moulinex</h5></li>
            </ul>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
            <ul type="none">
                <li>$23000</li>
                <li>20% off</li>
                <li><h5>Macbook Pro 2019</h5></li>
            </ul>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="SS10">
            <ul>
                <li>$70.500</li>
                <li>10% off</li>
                <li><h5>Samsung Galaxy 10</h5></li>
            </ul>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
            <ul>
                <li>$23.200</li>
                <li>5% off</li>
                <li><h5>SmartTv Samsung 43"</h5></li>
            </ul>
        </section>
        <section>
            <h3>Sección Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
            <ul type= "none">
                <li>$6.770</li>
                <li>40% off</li>
                <li><h5>Cafetera Moulinex</h5></li>
            </ul>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
            <ul type="none">
                <li>$23000</li>
                <li>20% off</li>
                <li><h5>Macbook Pro 2019</h5></li>
            </ul>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="SS10">
            <ul>
                <li>$70.500</li>
                <li>10% off</li>
                <li><h5>Samsung Galaxy 10</h5></li>
            </ul>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
            <ul>
                <li>$23.200</li>
                <li>5% off</li>
                <li><h5>SmartTv Samsung 43"</h5></li>
            </ul>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta de crédito</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde los $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </section>
        <section>Copyright @1999-2020 MercadoLiebre S.R.L</section>
    </footer>
</body>
</html>